{% extends "base.html" %}
{% block title %} Страница авторизации {% endblock %}

{% block content %}

    <h1>Логин пользователя:</h1>

    {% if form.errors %}
        ОШИБКА (Неверные учетные данные)
    {% else %}
        <form action="." method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}">
            <input type="submit" value="Войти">
        </form>
        <br><a href="{% url "spectrum:password_reset" %}"> Забыли пароль?</a>
    {% endif %}

{% endblock %}