{% extends "base.html" %}
{% block title %} Новости {% endblock %}
{% block content %}
    <h1> НОВОСТИ </h1>
    {% for one_news in news %}
        <h3>{{ one_news.title }}</h3> <!--используем двойные }}, чтобы отображался не текст-->
        <h4>
            {{ one_news.body|truncatewords:10 }} <!-- первые N слов-->
        </h4>
        Published: {{ one_news.publish }} by {{ one_news.author }} <br><br>
        <a href="{{ one_news.get_absolute_url }}"> Читать </a>
    {% endfor %}
{% endblock %}