{% extends "base.html" %}
{% load static %}
{% block title %}
    {% if category %}{{ category.name }}{% else %} Объявления {% endif %}
{% endblock %}
{% block content %}
    <h1> Объявления </h1>
    <div id="sidebar">
        <h3> Категории </h3>
        <ul>
            <li {% if not category %}class="selected"{% endif %}>
                <a href="{% url "spectrum:board_list" %}"> ВСЕ </a>
            </li>
            {% for c in categories %}
                <li {% if category.slug == c.slug %}class="selected"{% endif %}>
                    <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div id="main" class="board-list">
        <h3>{% if category %}{{ category.name }}{% else %} Объявления {% endif %}</h3>
        {% for board in boards %}
            <div class="item">
                <a href="{{ board.get_absolute_url }}">
                    <img alt="фото" width="200" height="200" src="{% if board.image %}{{ board.image.url }}{% else %}{% static "static/img/no_image.png" %}{% endif %}">
                </a>
                <a href="{{ board.get_absolute_url }}">{{ board.name }}</a><br>
                ${{ board.price }}
            </div>
        {% endfor %}
    </div>
{% endblock %}