{% extends "base.html" %}
{% load static %}
{% block title %}
    {% if category %}{{ category.title }}{% else %} Объявления {% endif %}
{% endblock %}
{% block content %}
    <h3 align="center">{{ board.name }}</h3>
    <div class="alert alert-doc" align="center">
        <img alt="фото" width=700px src="{% if board.image %}{{ board.image.url }}{% else %}{% static "static/img/no_image.png" %}{% endif %}">
        <h4><a href="{{ board.category.get_absolute_url }}">{{ board.category }}</a></h4>
        <p style="color:#333; font-weight:bold">{{ board.price }} бел.рублей</p>
        <br>
        {{ board.description|linebreaks }}
    </div>
{% endblock %}