{% extends "base.html" %}
{% block title %} Share material {% endblock %}
{% block content %}
    <br>
    <div class="alert alert-doc">
        <br>
        <a class="mt-2 btn btn-warning" href="{{ ad.get_absolute_url }}"> Вернуться к объявлению </a>
    </div>
    <br>
    <div class="alert alert-doc">
    {% if not sent %}
        <h1> Написать автору по email: </h1>
        <form action="." method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="submit" value="ОТПРАВИТЬ">
        </form>
    {% else %}
        <p> Ваше сообщение было отправлено. </p>
    {% endif %}
    </div>

{% endblock %}