{% extends 'base.html' %}

{% block  content %}
    <div class="alert alert-secondary" role="alert">
        <h1> О товариществе </h1>
        <br><br>
            <h2> Контактные данные: </h2>
                <p> Председатель Иванов Иван Иванович +375-xx-xxx-xx-xx</p>
                <p> Казначей Натальева Наталья Натальевна +375-yy-yyy-yy-yy</p>
        <br><br>
            <h2> Географические координаты:</h2>
                <p> N54.037496°, E27.40046°</p>
            <h2> Расположение на карте: </h2>
                <p> Минская область, Минский район </p>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2343.0433045568193!2d27.398271315955064!3d54.03749913041662!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNTTCsDAyJzE1LjAiTiAyN8KwMjQnMDEuNyJF!5e0!3m2!1sru!2sby!4v1615490980790!5m2!1sru!2sby" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
{% endblock %}