{% extends 'base.html' %}

{% block  content %}
    <div class="alert alert-secondary" role="alert">
        <h1> О товариществе </h1>
        <br><br>
            <h2> Контактные данные </h2>
                <p> Председатель Иванов Иван Иванович +375-xx-xxx-xx-xx</p>
                <p> Казначей Натальева Наталья Натальевна +375-yy-yyy-yy-yy</p>
        <br><br>
            <h2> Расположение на карте </h2>
                <p> Географические координаты такие-то...</p>
                <p> Здесь будет карта</p>
    </div>
{% endblock %}