<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title%} ЗАГОЛОВОК {% endblock %}</title>

    <link type="text/css" rel="stylesheet" href="{% static "css/bootstrap.css" %}">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://vk.com/js/api/openapi.js?168" type="text/javascript"></script>
    <link href="{% static "styles.css" %}" rel="stylesheet"> <!-- добавили css стили -->

</head>

<body>
<ul class="nav nav-pills">
    <li class="nav-item">
        <a class="mt-2 btn btn-warning"
        href="{% url "spectrum:main_" %}"> Главная </a>
    </li>
    <li class="nav-item">
        <a class="mt-2 btn btn-warning"
        href="{% url "spectrum:all_ads_" %}"> Объявления </a>
    </li>
    <li class="nav-item">
        <a class="mt-2 btn btn-warning"
        href="{% url "spectrum:board_list" %}"> Новые объявления </a>
    </li>
    <li class="nav-item">
        <a class="mt-2 btn btn-warning"
        href="{% url "spectrum:all_news_" %}"> Новости </a>
    </li>
    <li class="nav-item">
        <a class="mt-2 btn btn-warning"
        href="{% url "spectrum:weather_" %}"> Погода </a>
    </li>
    <li class="nav-item">
        <a class="mt-2 btn btn-warning"
        href="{% url "spectrum:docs_" %}"> Документы </a>
    </li>
    <li class="nav-item">
        <a class="mt-2 btn btn-warning"
        href="{% url "spectrum:about_" %}"> О товариществе </a>
    </li>
</ul>

{% block content%}
{% endblock %}

</body>
</html>
