{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title%} ЗАГОЛОВОК {% endblock %}</title>
    <link href="{% static "styles.css" %}" rel="stylesheet">
</head>
<body>

<p>
{% if request.user.is_authenticated %}
    Добро пожаловать, {{ request.user.first_name }}! <br>
    <a href="{% url "spectrum:logout" %}"> Выйти </a><br>
    <a href="{% url "spectrum:profile" %}"> Профиль </a>
{% else %}
    <a href="{% url "spectrum:login" %}"> Войти </a>
{% endif %}
</p>

<p>
{% block content%}
{% endblock %}
</p>
</body>
</html>

