<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title%} ЗАГОЛОВОК {% endblock %}</title>

    <link type="text/css" rel="stylesheet" href="{% static "css/bootstrap.css" %}">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <link href="{% static "styles.css" %}" rel="stylesheet"> <!-- добавили css стили -->

</head>

<body>
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link {% if request.path == '/' %} active {% endif %}"
        href="{% url "spectrum:main_" %}"> Главная </a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if request.path == '/all_ads_/' %} active {% endif %}"
        href="{% url "spectrum:all_ads_" %}"> Объявления </a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if request.path == '/all_news_/' %} active {% endif %}"
        href="{% url "spectrum:all_news_" %}"> Новости </a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if request.path == '/weather_/' %} active {% endif %}"
        href="{% url "spectrum:weather_" %}"> Погода </a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if request.path == '/about_/' %} active {% endif %}"
        href="{% url "spectrum:about_" %}"> О товариществе </a>
    </li>
</ul>


<p>
    {% if request.user.is_authenticated %}
        Добро пожаловать, {{ request.user.first_name }}! <br>
        <a href="{% url "spectrum:logout" %}"> Выйти </a><br>
        <a href="{% url "spectrum:profile" %}"> Мой профиль </a>
    {% else %}
        <a href="{% url "spectrum:login" %}"> Войти </a><br>
        <a href="{% url "spectrum:register" %}"> Регистрация </a>
    {% endif %}
</p>

{% block content%}
{% endblock %}

<!-- на jQuery (необходим для Bootstrap - х JavaScript плагины) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- Включают все скомпилированные плагины (ниже), или включать отдельные файлы по мере необходимости -->
<script type="text/javascript" src="{% static "js/bootstrap.js" %}></script>

</body>
</html>
