<div class="pagination">
    <span class="step-links">
        {% if page.has_previous %}
            <a class="mt-2 btn btn-warning" href="?page={{ page.previous_page_number }}"> Предыдущая </a>
        {% endif %}
        <span class="mt-2 btn btn-warning">
            Страница {{ page.number }} из {{ page.paginator.num_pages }}
        </span>
        {% if page.has_next %}
            <a class="mt-2 btn btn-warning" href="?page={{ page.next_page_number }}"> Следущая</a>
        {% endif %}
    </span>
</div>

