{% extends 'base.html' %}
{% block  content %}
    <h1> GARDEN CLUB </h1>
    <div class="alert alert-doc">
        {% if request.user.is_authenticated %}
            <h3> Добро пожаловать, {{ request.user.first_name }}! </h3><br>
            <a class="mt-2 btn btn-warning" href="{% url "spectrum:logout" %}"> Выйти </a><br>
            <a class="mt-2 btn btn-warning" href="{% url "spectrum:profile" %}"> Мой профиль </a>
        {% else %}
            <h3> Добро пожаловать! </h3>
            <a class="mt-2 btn btn-warning" href="{% url "spectrum:login" %}"> Войти </a><br>
            <a class="mt-2 btn btn-warning" href="{% url "spectrum:register" %}"> Регистрация </a>
        {% endif %}
    </div>
{% endblock %}