{% extends 'base.html' %}

{% block  content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-5 offset-1">
                <h1> Узнать погоду в городе </h1>
                <form action="" method="post">
                    {% csrf_token %}
                    <label for="city"> Город </label>
                    {{ form.name }}
                    <input type="submit" name="send" value="Узнать" class="mt-2 btn btn-warning">
                </form>
            </div>
            <div class="col-4 offset-1">
                <h1> Информация </h1>
                {% for info in all_info %}
                    <div class="alert alert-warning">
                        <b>Город: </b>{{ info.city }}<br>
                        <b>Температура: </b>{{ info.temp }}<sup>0</sup>C<br>
                         <img src="http://openweathermap.org/img/w/{{ info.icon }}.png"
                              alt="Фото" class="img-thumbnail">
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>




{% endblock %}